@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3.2em;
}

h4 {
    font-size: 2.5em;
}

h5 {
    font-size: 2em;
}

h6 {
    font-size: 1.6em;
}

p {
    font-size: 1.2em;
}

@media (max-width: 640px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.6em;
    }

    h4 {
        font-size: 1.25em;
    }

    h5 {
        font-size: 1em;
    }

    h6 {
        font-size: 0.8em;
    }

    p {
        font-size: 0.8em;
    }
}
